@use '../../../layouts/variables.module' as *;

.wrapper {
  display: flex;
  align-content: stretch;
  height: 100%;
  min-height: 60vh;
  max-height: calc(100vh - $reservedTopHeight - $actionBarHeight);
  overflow: hidden;

  &.NotOwner {
    max-height: calc(
      100vh - $reservedTopHeight - $actionBarHeight - $robotHeaderHeightNotOwner
    );
  }

  // Display
  > div > div {
    height: 100%;
  }
}

.slider {
  display: flex;
  width: 200%;
  height: 100%;
  will-change: transform;
}

.slidePanel {
  width: 50%; // each panel = 50% of slider = 100% of wrapper
  height: 100%;
  flex-shrink: 0;
  overflow: hidden;

  // Display inner height
  > div > div {
    height: 100%;
  }

  > div {
    > div {
      overflow-x: hidden;
    }
  }
}
