.wrapper {
  width: 200px;

  .links {
    display: grid;
    gap: 25px;
  }

  a {
    display: flex;
    gap: 15px;
    line-height: 32px;
    white-space: nowrap;

    .text {
      color: var(--grayscale-primary);
    }

    &:hover,
    &.active {
      .text {
        color: var(--primary-color);
      }
    }
  }

  @media (max-width: 540px) {
    width: 48px;
    position: sticky;
    left: 0;
    z-index: 10;
    transition: width 0.2s ease;

    a {
      .text {
        display: none;
      }
    }

    .links {
      gap: 15px;
    }

    // expand on touch/hover
    &:hover,
    &:focus-within {
      width: 200px;

      a .text {
        display: inline;
      }
    }
  }
}