@use 'src/style/mixins' as *;

.container {
  display: grid;
  grid-template-columns: 140px 270px 0.9fr 1fr;
  gap: 10px;
  align-items: center;
  padding: 15px 0;

  @media (max-width: 768px) {
    grid-template-columns: 90px 1fr;
    gap: 8px;
    padding: 10px 0;

    > :nth-child(3),
    > :nth-child(4) {
      display: none;
    }
  }
}

.chartBalanceWrap {
  display: grid;
  grid-template-columns: 90px 1fr;
  align-items: baseline;
  gap: 10px;

  @media (max-width: 768px) {
    grid-template-columns: 60px 1fr;
    gap: 8px;
  }
}

.chartBtn {
  display: grid;
  grid-template-columns: 8px 1fr;
  align-items: center;
  gap: 10px;
  outline: none;
  background: transparent;
  border: none;

  @media (max-width: 768px) {
    grid-template-columns: 6px 1fr;
    gap: 6px;
  }
}

.containerDetailsBalance {
  position: relative;
  min-height: 0;
  height: 0;
  padding-left: 23px;
  transition: 0.5s ease-in-out;
  opacity: 0;

  &entering {
    transition: 1ms ease-in-out;
  }

  &entered {
    opacity: 1;

    &.length- {
      &5 {
        min-height: 110px;
      }

      &6 {
        min-height: 170px;
      }

      &7 {
        min-height: 200px;
      }

      &8 {
        min-height: 260px;
      }
    }

    height: 1px;
    margin-top: 30px;
  }

  &exiting {
    transition: 0.3s ease-in-out;
  }

  &exited {
    visibility: hidden;
  }
}
