@use '../../../layouts/variables.module.scss' as *;

$size-columns: 200px;
$size-columns-collapsed: 48px;

.wrapper {
  display: grid;
  grid-template-columns: $size-columns minmax($size-columns, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;

  height: 70vh;
  max-height: calc(100vh - $reservedTopHeight - $actionBarHeight);

  // Display
  >div>div {
    height: 100%;
  }

  > :first-child {
    >div {
      overflow-x: hidden;
    }
  }

  > :nth-child(2) {
    left: -2px;
    margin-right: -2px;
    position: relative;
    overflow-x: hidden;
  }

  @media (max-width: 540px) {
    grid-template-columns: $size-columns-collapsed 1fr;

    > :nth-child(2) {
      left: 0;
      margin-right: 0;
      overflow-x: hidden;
    }
  }
}