.messageInput {
  align-self: flex-end;
  min-width: 0;
}

.sendBtn {
  font-size: 30px;
  min-width: 100px;

  @media (max-width: 540px) {
    min-width: 50px;
    font-size: 24px;
  }
}

.actionRow {
  @media (max-width: 540px) {
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    width: 100%;
  }
}

.error {
  > div {
    display: inline-block !important;
  }
}
